.form {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    position: relative;
  }


  &__input {
    outline: none;
    border: none;
    background: $color-input;
    padding: 22px 84px 22px 18px;
    border-radius: 6px;

    &::placeholder {
      color: rgba(97, 89, 77, .6);
      font-size: 16px;
      }
    }

    &__item--map::before {
      content: "";
      background: url("../img/search/map-pin.svg");
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: 18px;
      left: 231px;
    }

    &__item--home::before {
      content: "";
      background: url("../img/search/home.svg");
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: 18px;
      left: 231px;
    }

    &__item--dollar::before {
      content: "";
      background: url("../img/search/dollar.svg");
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: 18px;
      left: 231px;
    }
  }

