.step {
  padding-top: 120px;
  padding-bottom: 120px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 291px;
    position: relative;

    &--technical::before {
      content: url("../../img/step/technical.svg");
      display: inline-block;
      width: 50px;
      height: 50px;
    }

    &--web::before {
      content: url("../../img/step/web-design.svg");
      display: inline-block;
      width: 50px;
      height: 50px;
    }

    &--building::before {
      content: url("../../img/step/building.svg");
      display: inline-block;
      width: 50px;
      height: 50px;
    }
  }

  &__title {
    color: $color-text-dark;
    @include font-cabinet-black;
    @include font(32px, 39px);
    margin: 0;
    margin-top: 22px;
  }
  
  &__text {
    color: $color-text-base;
    @include font(16px, 28px);
    margin-top: 10px;
    margin-bottom: 27px;
  }

  &__list {
    color: $color-text-base;
    @include reset-link;
    @include font(16px, 19px);
    letter-spacing: 0.5px;
    transition: 0.3s linear;

  &:hover {
      color: $color-orange;
      text-decoration: underline;
    }
  }
}
